<form [formGroup]="form">
  <fieldset>
    <div>
      <label>
        <span>Full Name</span>
      </label>
      <input formControlName="fullName" />
      <app-small-error
        *ngIf="showError('fullName')"
        [errorMessage]="getErrorMessage('fullName')"
      ></app-small-error>
    </div>
    <div>
      <label>
        <span>E-Mail</span>
      </label>
      <input formControlName="email" />
      <app-small-error
        *ngIf="showError('email')"
        [errorMessage]="getErrorMessage('email')"
      ></app-small-error>
    </div>
    <div>
      <label>
        <span>Password</span>
      </label>
      <input formControlName="password" />
      <app-small-error
        *ngIf="showError('password')"
        [errorMessage]="getErrorMessage('password')"
      ></app-small-error>
    </div>
    <div>
      <label>
        <span>Reapeat Password</span>
      </label>
      <input formControlName="repeatedPassword" />
      <app-small-error
        *ngIf="showError('repeatedPassword')"
        [errorMessage]="getErrorMessage('repeatedPassword')"
      ></app-small-error>
    </div>
  </fieldset>
  <button [disabled]="form.invalid" (click)="onRegisterClick()">
    Register
  </button>
</form>
